<table>
<tr>
<th>GameId</th>
<th>Player 1</th>
<th>Player 2</th>
<th>Complete</th>
<th>Winner</th>
</tr>
<% for game in @games %>
<tr>
  <td><%= game.id %></td>
  <td><%= game.player1.username %></td>
  <td><%= game.player2.username %></td>
  <td><%= game.game_complete %></td>
  <td><%= game.winner_id %></td>
</tr>
<% end %>
</table>