<h1>New game</h1>
New game:
<%= form_for @game do |f| %>
<% if @game.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @game.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :player2 %><br />
<%= f.collection_select :player2_id, User.all, :id, :username %>
<div class="actions"><%= f.submit %></div>
<% end %>