<div>
  Player 1: <br>
  <%= @game.player1.username %>
  (<%= @game.player1_id %>)
</div>
<div>
  Player 2: <br>
  <%= @game.player2.username %>
  (<%= @game.player2_id %>)
</div>
<br>
<div id="head_to_head">
Head to Head
<table>
  <tr>
    <th>Player 1</th>
    <th>Drawn</th>
    <th>Player 2</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
Not Complete: <%= TicTacToeGame.not_completed.count %><br>
Completed: <%= TicTacToeGame.completed.count %><br>
Current User games: <%= TicTacToeGame.for_user(current_user).count %><br>
<% binding.pry %>
Player1 games: <%= TicTacToeGame.for_user(@game.player1).count %><br>
Player2 games: <%= TicTacToeGame.for_user(@game.player2).count %><br>
Player1 games against Player2<%= TicTacToeGame.for_games_against_eachother(@game.player2, @game.player1).count %><br>
Unfinished for current user: <%= TicTacToeGame.unfinished_games(current_user).count %>


</div>
<div>
Current Player: <%= @current_player %>
</div>
<br>
<table>
<% (1..9).each do |x| %> 
  <% if x % 3 == 1 %>
    <% if x != 0 %>
      </tr>
    <% end %>
    <tr>
  <% end %>
    <% current_move = @moves.where(move: x).first %>
    <% if current_move %>
      <% if current_move.user_id == @game.player1_id %>
      <td class="Player1">
        X
      </td>
      <% else %>
      <td class="Player2">
        O
      </td>
      <% end %> 
    <% else %> 
      <% if @game.is_next_to_play? current_user %>
        <td class="Available"><%= link_to "Available", new_tic_tac_toe_game_tic_tac_toe_move_path(@game, move: x) %>
        </td>
      <% else %>
          <td class="Available">Not Available
          </td>
      <% end %>
    <% end %>

<% end %>
</table>