<div>
  Player 1: <br>
  <%= @game.player1.username %>
  (<%= @game.player1_id %>)
</div>
<div>
  Player 2: <br>
  <%= @game.player2.username %>
  (<%= @game.player2_id %>)
</div>
<table>
  Current Player: <%= @current_player %>
<br />

<%= @moves %>
<% (1..9).each do |x| %>
  <% current_move = @moves.where(move: x).first %>
  <% if current_move %>  
    <div class= "<%= current_move.user_id %>">
      Cell <%= x %> Move Made already by <%= current_move.user_id %>
    </div>
  <% else %>
    <div class="none">
      <% if @game.is_next_to_play? current_user %>
        Cell <%= x %> Move Available <%= link_to "Move", new_tic_tac_toe_game_tic_tac_toe_move_path(@game, move: x) %>
      <% else %>
        Not your turn
      <% end %>
    </div>
  <% end %>
<% end %>
  <tr>
    <td id="1"></td>
    <td id="2"></td>
    <td id="3"></td>
  </tr>
  <tr>
    <td id="4"></td>
    <td id="5"></td>
    <td id="6"></td>
  </tr>
  <tr>
    <td id="7"></td>
    <td id="8"></td>
    <td id="9"></td>
  </tr>
</table>
