<div>
  Player 1: <br>
  <%= @game.player1.username %>
  (<%= @game.player1_id %>)
</div>
<div>
  Player 2: <br>
  <%= @game.player2.username %>
  (<%= @game.player2_id %>)
</div>
<br>
<div id="head_to_head">
Head to Head
<table>
  <tr>
    <th>Player 1</th>
    <th>Drawn</th>
    <th>Player 2</th>
  </tr>
  <tr>
    <td>
      <%= TicTacToeGame.player1_games_against_player2_won(@game.player1, @game.player2).count %></td>
    <td>
      <%= TicTacToeGame.player_games_against_player_drawn(@game.player2, @game.player1).count %></td>
    <td>
      <%= TicTacToeGame.player1_games_against_player2_won(@game.player2, @game.player1).count %></td>
  </tr>
</table>
</div>
<div>
Current Player: <%= @current_player %>
</div>
<br>
<table>
<% (1..9).each do |x| %> 
  <% if x % 3 == 1 %>
    <% if x != 0 %>
      </tr>
    <% end %>
    <tr>
  <% end %>
    <% current_move = @moves.where(move: x).first %>
    <% if current_move %>
      <% if current_move.user_id == @game.player1_id %>
      <td class="Player1">
        X
      </td>
      <% else %>
      <td class="Player2">
        O
      </td>
      <% end %> 
    <% else %> 
      <% if (!@game.game_complete) && (@game.is_next_to_play? current_user) %>
        <td class="Available"><%= link_to "Available", new_tic_tac_toe_game_tic_tac_toe_move_path(@game, move: x) %>
        </td>
      <% else %>
          <td class="Available">Not Available
          </td>
      <% end %>
    <% end %>

<% end %>
</table>