<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <p> hello, <%= current_user.email %> </p>
    <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
   <% else %>
    <%= link_to 'Please login', login_path %>
    <%= link_to 'Signup', signup_path %>
   <% end %>

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
    <%= message %>
    </div>
  <% end %>
<%= link_to 'New Game', new_game_path %>
  <%= yield %>

</body>
</html>
