<h1>Current Games</h1>
<h2>Current Unfinished Games: <%= @games_unfinished.count %></h2><br>
<table>
  <tr>
    <th>Game</th>
  <th>Player 1</th>
  <th>Player 2</th>
  </tr>
    <% @games_unfinished.each do |g| %>
      <tr>
      <td><%= g.id %></td> 
      <td><%= g.player1.full_name %></td>
      <td><%= g.player2.full_name %></td>
      <td><%= link_to "Play", tic_tac_toe_game_path(g.id) %></td>
      </tr>
    <% end %>
</table>

<h2>Last 10 finished Games:</h2><br>
<table>
  <tr>
    <th>Game</th>
  <th>Player 1</th>
  <th>Player 2</th>
  <th>Winner</th>
  </tr>
  <% @games_finished.each do |g| %>
    <tr>
    <td><%= g.id %></td> 
    <td><%= g.player1.full_name %></td>
    <td><%= g.player2.full_name %></td>
    <td><% if g.winner_id == 0 %>
      Draw 
      <% else %>
        <%= g.winner.full_name %>
      <% end %></td>
    <td><%= link_to "Show", tic_tac_toe_game_path(g.id) %></td>
    </tr>
  <% end %>
</table>
<h1>User Information</h1>
<div><p>First Name: </p><%= @user.first_name %></div><br>
<div><p>Last Name: </p><%= @user.last_name %></div><br>
<div><p>Username: </p><%= @user.username %></div><br>
<div><p>E-mail: </p><%= @user.email %></div><br>

    <li>
  <%= link_to "Edit", edit_user_path(@user) %>
  <li>
